@font-face {
  font-family: 'luna';
  src: url("../fonts/Luna.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'coolvetica';
  src: url("../fonts/coolvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

a {
  color: #fb8c00; }

a:hover {
  color: #fb8c00;
  text-decoration: underline; }

.full-width {
  width: 100%; }

.jumbotron {
  background: #343434;
  color: floralwhite;
  padding: 20px;
  border-radius: 0;
  margin: 0; }
  .jumbotron h1 {
    font-family: "luna"; }
  .jumbotron h2 {
    font-family: "coolvetica";
    font-size: 14pt; }

.btn-primary:hover {
  background-color: floralwhite;
  color: #fb8c00;
  border-color: #fb8c00; }

.btn-primary {
  background-color: #fb8c00;
  border-color: #fb8c00; }

.carousel {
  background: #343434; }
  .carousel .carousel-item {
    height: 600px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }
