@font-face {
    font-family: 'luna';
    src: url("../fonts/Luna.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'coolvetica';
    src: url("../fonts/coolvetica.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

$fuente-wodbok: 'luna';
$fuente-wodbok-2: 'coolvetica';
$background-dark: #343434;
$wodbok-color: #fb8c00;
$carousel-item-height: 600px;

a {
    color: $wodbok-color;
}
a:hover {
    color: $wodbok-color;
    text-decoration: underline;
}

.full-width {
    width: 100%;
}



.jumbotron{
    background: $background-dark;
    color: floralwhite;    
    padding: 20px;
    border-radius: 0;
    margin: 0;
    

    h1 {
        font-family: $fuente-wodbok;
    }

    h2 {
        font-family: $fuente-wodbok-2;
        font-size: 14pt;
    }
    
}

.btn-primary:hover {
    background-color: floralwhite;
    color: $wodbok-color;
    border-color: $wodbok-color;
}

.btn-primary {
    background-color: $wodbok-color;
    border-color: $wodbok-color;
}


.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 600px;
        }
    }
}

#carousel-button {
    right:  0px;
    position: absolute;
    bottom: 0px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {    
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    h2 {
        font-weight: normal;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
}